.App {
  text-align: center;
  background-color: #EAEAEA;
}

.main-container{
  margin-top: 4em;
}

.custom-btn{
  background-color: #ff8928 !important;
  border: none !important;
}

.errorText{
  color:red;
  position: absolute;
}

.all-hover:hover{
  transform: scale(1.1);
  transition: all 05.s ease-in-out;
}